# Ignore node_modules in Frontend and Backend
Frontend/node_modules/
Backend/node_modules/
# Ignore build artifacts in Frontend and Backend
Frontend/packege-lock.json
Backend/packege-lock.json
#Ignore packer.json in Frontend and Backend
Frontend/package.json
Backend/package.json
#  Hide .env files in Frontend and Backend
Backend/.env
